In [1]:
# Você recebe uma tabela de corridas do UBER que contém a quilometragem e o objetivo da despesa comercial. Você é solicitado a encontrar objetivos comerciais que gerem o maior número de milhas percorridas para passageiros que usam o Uber para transporte Comercial. Encontre as 3 principais categorias finalidade comercial por quilometragem

In [2]:
# Importando as bibliotecas necessárias

import pandas as pd
# Import pandassql para manipularmos os dados com comandos SQL
from pandasql import sqldf
# Isso permite executar consultas SQL diretamente sobre DataFrames do Pandas, sem precisar registrar manualmente cada tabela
pysqldf = lambda q: sqldf(q, globals())

In [3]:
# Importando os dados
file = "C:/Users/felip/Documents/Code/Portforio/Desafio-Processo-Uber/BASE/My Uber Drives - 2016.xls"
df = pd.read_csv(file, sep=',')

In [4]:
# Criação da query
query = """
SELECT PURPOSE, SUM(MILES) AS TOTAL_MILES FROM df
WHERE CATEGORY = 'Business'
GROUP BY PURPOSE
ORDER BY total_miles DESC
LIMIT 3;
"""

In [5]:
print(pysqldf(query))

          PURPOSE  TOTAL_MILES
0            None       4389.3
1         Meeting       2851.3
2  Customer Visit       2089.5